@font-face {
    font-family: 'DIN Pro';
    src: url('./DINPro.woff2') format('woff2');
  }

@font-face {
    font-family: 'gilroy-light';
    src: url('./gilroy-light-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'gilroy-regular';
    src: url('./Gilroy-Regular.woff2') format('woff2');
  }

@font-face {
    font-family: 'gilroy-extrabold';
    src: url('gilroy-extrabold-webfont.woff2') format('woff2');
}
