.three{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/three/bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    transition: margin 1s ease;

    & img{
        position: absolute;
    }

    & .wrapper{
        max-height: 100%;
        padding-top: 162px;
    }

    &__heading{
        margin-left: 280px;

        &-msg{
            font-family: "DIN Pro";
            font-size: 26px;
            letter-spacing: 2.6px;
            text-transform: uppercase;
            padding-left: 5px;
            color: #242424;
        }
    
        &-title{
            font-family: "gilroy-regular";
            font-size: 94px;
            letter-spacing: 12px;
            text-transform: uppercase;
            color: #171717;
            & span{
                font-family: 'gilroy-extrabold';
            }
        }

    }

    &__content{
        position: relative;
        display: flex;
        font-family: "DIN Pro";
        font-size: 25px;
        line-height: 30px;
        padding-top: 65px;
        margin-left: 131px;
        margin-right: 42px;
        gap: 41px;

        & > img{
            width: 263px;
            bottom: -2px;
            right: 0;
            cursor: pointer;
        }
        & > div{
            position: relative;
            background: rgb(255, 255, 255);
            border-radius: 39px;
            -webkit-box-shadow: 0px 0px 100px 41px rgba(20, 60, 90, 0.09);
            -moz-box-shadow: 0px 0px 100px 41px rgba(20, 60, 90, 0.09);
            box-shadow: 0px 0px 100px 41px rgba(20, 60, 90, 0.09);
        }
        &-card1{
            padding: 47px 25px 68px 157px;
            & img{
                width: 68px;
                top: -33px;
                left: 155px;
            }
        }
        &-card2{
            width: 106%;
            align-self: flex-start;
            padding: 49px 20px 42px 43px;
            & img{
                width: 70px;
                top: -24px;
                left: 41px;
            }
        }
    }

    &__bottle{
        width: 233px;
        bottom: 0;
        left: 49px;
        z-index: 100;
    }

    &__bubble1{
        width:67px ;
        top: 155px;
        left: 184px;
        z-index: 103;
        animation: bubble1 3s ease-in infinite;
    }
    &__bubble2{
        width: 142px;
        bottom: 0;
        left: 184px;
        z-index: 102;
        animation: bubble2 5s ease-in infinite;
    }
    &__bubble3{
        width: 33px;
        bottom: 282px;
        left: 11px;
        z-index: 99;
        animation: bubble3 5s ease-in infinite;
    }
    &__bubble4{
        width: 34px;
        top: 211px;
        left: 77px;
        z-index: 99;
        animation: bubble4 5s ease-in infinite;
    }
    &__bubble5{
        width: 114px;
        top: 316px;
        left: 185px;
        z-index: 99;
        animation: bubble5 5s ease-in infinite;
    }
    &__bubble6{
        width: 60px;
        bottom: 116px;
        left: 244px;
        z-index: 99;
        animation: bubble6 3s ease-in infinite;
    }
    &__bubble7{
        width: 37px;
        top: 65px;
        left: 198px;
        z-index: 99;
        animation: bubble7 8s ease-in infinite;
    }
    &__bubble8{
        width: 75px;
        bottom: 140px;
        left: 25px;
        z-index: 101;
        animation: bubble8 5s ease-in infinite;
    }
}

@keyframes bubble1 {
    50%{
        top: 125px;
        left: 174px;
    }
    100%{
        top: 155px;
        left: 184px;
    }
}
@keyframes bubble2{
    50%{
        width: 162px;
    }
    100%{
        width: 142px;
    }
}
@keyframes bubble3{
    30%{
        bottom: 272px;
        left: 31px;
    }
    60%{
        bottom: 282px;
        left: 11px;
    }
    100%{
        bottom: 282px;
        left: 7px;
    }
}
@keyframes bubble4{
    50%{
        top: 226px;
        left: 97px;
    }
    100%{
        top: 211px;
        left: 77px;
    }
}
@keyframes bubble5{
    50%{
        width: 134px;
    }
    100%{
        width: 114px;
    }
}
@keyframes bubble6{
    50%{
        width: 69px;
        bottom: 106px;
        left: 254px;
    }
    100%{
        width: 60px;
        bottom: 116px;
        left: 244px;
    }
}
@keyframes bubble7{
    20%{
        top: 95px;
        left: 208px;
    }
    50%{
        top: 65px;
        left: 203px;
    }
    70%{
        top: 70px;
        left: 218px;
    }
    100%{
        top: 65px;
        left: 198px;
    }
}
@keyframes bubble8{
    50%{
        width: 80px;
        left: 15px;
    }
    100%{
        width: 75px;
        bottom: 140px;
        left: 25px;
    }
}

@media (max-width: 599px){
    .three{
        background-size: cover;
    }
    .three__heading{
        margin-left: 0;
    }
    .three__heading-title {
        font-size: 58px;
    }
    .three__content {
        flex-direction: column;
        font-size: 25px;
        line-height: 30px;
        padding-top: 0;
        margin-top: 2rem;
        margin-left: 0;
        margin-right: 0;
        gap: 1rem;
    }
    .three__content-card1 {
        padding: 1rem 1.2rem;
    }
    .three__content-card1 img {
        width: 0;
    }
    .three__content-card2 {
        width: 100%;
        padding: 1rem 1.2rem;
    }
    .three__content-card2 img {
        width: 0;
    }
    .three__bottle {
        width: 0;
    }
    .three__content > img{
        width: 250px;
        height: 69px;
        bottom: -129px;
        right: 50%;
        transform: translateX(50%);
    }
}